body {
    margin: 0 auto;
    font-family: "Source Sans Pro", "Georgia", sans-serif;
    position: relative;
  }
  
body::after {
  content: "";
  background: url('img/american-flag-wind.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

  header {
    text-align: center;
    font-size: 24px;
    padding: 10px;
  }
  
  main {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    height: 100vh;
  }

  .display-score > ul  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    font-size: 24px;
  }
  
  .display-score > ul > li {
    margin: 5px;
  }
  
  label{
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 0px;
  }

  input[type=radio]:checked{
    background-color: rgba(255,255,255);
    cursor: pointer;
  }
  
  button {
    padding: 10px;
    margin: 0px;
    border-radius: 2px;
    font-size: 18px;
    background: orange;
    box-shadow: 2px 2px #ccc;
  }
  
  button:hover {
    background: darkorange;
    cursor: pointer;
    transform: translateY(2px);
  }
  
  legend {
   font-size: 22px;
   color: white;
   background-color: #003366;
   padding: 10px;
   border-radius: 4px;
  }
  
  fieldset {
    padding: 40px;
    padding-top: 20px;
    border: 1px solid #333;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
  }
  
  .correct-answer-message {
    background: green;
    color: white;
    padding: 10px;
    font-weight: 700;
  }
  
  .correct-answer-message::before {
    content: "☑️"
  }
  
  .wrong-answer-message {
    background: red;
    color: white;
    padding: 10px;
    font-weight: 700;
  }
  
  .wrong-answer-message::before {
    content: "⚠️"
  }
  
  .final-score {
    font-size: 18px;
    text-align: center;
    background: #003366;
    color: white;
    margin-right: 1.2em;
    padding: 50px;
  }
  
  .final-score span {
    display: block;
  }
  
  .score-text {
    font-size: 16px;
  }
  
  .score-percentage {
    font-size: 45px;
    margin-top: 10%;
  }
  
  @media screen and (min-width: 600px){
    .final-score-container {
      display: flex;
    }
  
    .final-score {
    font-size: 18px;
    text-align: center;
    background: #003366;
    color: white;
    margin-right: 1.2em;
    padding: 50px;
    }
  }